* {
  text-align: center;
}

/* POLL STYLE */
.panel-heading p {
  text-align: left;
  margin: 0;
}

#pollName {
  margin: 5px;
}

.panel-body {
  padding: 0 !important;
}

.list-group {
  margin: 0 !important;
}

li {
  padding: 0 !important;
}

.radio {
  margin: 0 !important;
}

input {
  display: none;
}

label {
  height: 50px;
  width: 100%;
  line-height: 50px;
}

label:hover {
  background-color: rgba(51, 122, 183, 0.3);
}

input:checked + label {
  background-color: rgba(51, 122, 183, 0.7);
}




a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
