* {
  text-align: center;
}
body {
}
.panel-heading p {
  text-align: left;
  margin: 0;
}

.panel-heading h2 {
  margin: 10px;
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}
