<div class="navbar navbar-inverse">
  <div class="container">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <p class="navbar-text">RP Voting App</p>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">User</a></li>
          <li><a href="#">My polls</a></li>
          <button type="button" class="btn btn-default navbar-btn">New Poll</button>
        </ul>
      </div>
    </div>
  </div>
</div>
