<div class="row">
  <div class="poolDiv .col-sx-12 .com-md-6 panel panel-primary">

    <div class="panel-heading">
      <p id="userName"> <%= userName %> </p>
      <h2 id="poolName"> <%= poolName %> </h2>
    </div>

    <div class="panel-body">
      <ul>
      <% for(var i=0; i<options.length; i++) {%>
      <li><%= options[i] %></li>
      <% } %>
      </ul>
    </div>

    <div class="panel-footer">
      <button type="button" name="button">VOTE</button>
    </div>

  </div>
</div>
