<!DOCTYPE html>
<html>

<% include blocks/head.ejs %>

<body>

  <% include blocks/navbar.ejs %>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-x-12 col-sm-offset-3">
        <h1 class="feedback-form-title">Create new poll</h1>
        <form class="feedback-form" action="/newpoll" method="post">

          <div class="form-group">
            <label for="feedback-form-name">Title</label>
            <input type="text" class="form-control" id="feedback-form-title" placeholder="Enter poll title" name="title" value="">
          </div>

          <div class="form-options">

            <div class="form-group">
              <label for="feedback-form-option">Option 1</label>
              <input type="text" class="form-control" id="feedback-form-option" placeholder="Enter option" name="option1" value="">
            </div>
            <div class="form-group">
              <label for="feedback-form-option">Option 2</label>
              <input type="text" class="form-control" id="feedback-form-option" placeholder="Enter option" name="option2" value="">
            </div>

          </div>


          <button type="button" id="addOptionBtn" class="btn btn-default pull-right">Add option</button>

          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- primary -->
    </div>
  </div><!-- container -->

</body>
<script src="/reload/reload.js"></script>
<script src="/js/script.js"></script>
</html>
