<!DOCTYPE html>
<html>

<% include blocks/head.ejs %>

<body>

  <% include blocks/navbar.ejs %>

  <div class="container">

    populate with user's polls

  </div>
</body>
<script src="/reload/reload.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
